.App-points {
    display: flex;
    justify-content: flex-start;
    color: aqua;
}
.Tansactions-header {
  font-weight: bold;
    /*color: darkkhaki;*/
}
.text-center {
    color: aqua;
}
hr {
    color: darkcyan;
    background-color: darkcyan;
    height: 5px;
}